form {
  margin-left: 50px;
}

h1 {
  color: #e87415;
}

.submit {

}

.container {
  background-color: #e87415;
  max-width: 60px;
  max-height: 40px;
  box-shadow: 1px 2px 3px;
  border: 1px solid black;
  margin-left: 2%;
}

p {
  word-spacing: 8px;
}
